<a href="${homepageUrl}${servletName}/oai-pmh-repository.xml?verb=GetRecord&amp;metadataPrefix=oai_dc&amp;identifier=oai:${repositoryHostname}:${edition.Id}" title="OAI-PMH">
  <img alt="oai" src="${homepageUrl}/style/common/img/oai-button.gif" border="0"  />											
</a>&nbsp;
<a href="${homepageUrl}${servletName}/rdf.xml?type=e&amp;id=${edition.Id}">
   <img src="${homepageUrl}/style/common/img/rdf-button.gif" border="0" alt="rdf" />
</a>&nbsp;
<a href="${homepageUrl}${servletName}/rt.ris?type=e&amp;id=${edition.Id}">
   	<img src="${homepageUrl}/style/common/img/ris-button.gif" border="0" alt="ris" />
</a>&nbsp;
<a href="${homepageUrl}${servletName}/rt.bib?type=e&amp;id=${edition.Id}">
   	<img src="${homepageUrl}/style/common/img/bibtex-button.gif" border="0" alt="bibtex" />
</a>