<h1 style="text-align:center;margin-top:40px;">Czekaj na przekierowanie...</h1>

<script type="text/javascript">
	
	$().ready(function(){
		window.top.location.href = "http://www.epo.pl/preview/details/${contentId}/${version}";
	});
	
	
</script>
